body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ****************************************************** */
.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "sidebar header"
        "sidebar main-content";

}

.navigation-container {
    grid-area: sidebar;
    background-color: #1992d4;
    color: white;
    width: 17rem;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    transition: width 0.3s;
}

.navigation-container.minimized {
    width: 50px;
}

.logobrand {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    align-content: center;
    flex-wrap: wrap;
}

.navigation-container.minimized .logobrand {
    justify-content: center;
    flex-direction: column;
}

.logobrand img {
    width: 50px;
    margin-right: 10px;
}

.navigation-container.minimized .logobrand img {
    margin: 0;
}

.logobrand h1 {
    font-size: 2rem;
    font-weight: bold;
    transition: opacity 0.3s;
    margin: 0;
}

.navigation-container.minimized .logobrand h1 {
    opacity: 0;
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}

.navigation-container.minimized .toggle-btn {
    transform: rotate(180deg);
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
}

.navigation-item {
    margin-bottom: 10px;
}

.navigation-item a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navigation-item a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navigation-item .material-icons {
    margin-right: 10px;
}

.navigation-item span.nav-text {
    transition: opacity 0.3s;
}

.navigation-container.minimized .navigation-item span.nav-text {
    opacity: 0;
}


.navigation ul:last-child {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 20px;
}

/* ****************************************************** */

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "search user-info"
        "user-greeting action-buttons";
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    row-gap: 40px;
    max-height: 200px;
}

.search-bar {
    grid-area: search;
    display: flex;
    align-items: center;
}

.search-bar input {
    margin-left: 10px;
    padding: 8px;
    border: none;
    background-color: #f1f1f1;
    width: 80%;
    /* rounded corners */
    border-radius: 20px;
}

.user-info {
    grid-area: user-info;
    display: flex;
    align-items: center;
    justify-self: end;
}

.user-info .material-icons {
    margin-right: 10px;
}

.user-avatar {
    height: 40px;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
}

.user-greeting {
    grid-area: user-greeting;
    display: flex;
    align-items: center;
}

.user-avatar-large {
    height: 60px;
    margin-right: 20px;
}

.greeting-text p {
    margin: 0;
}

.greeting-text h2 {
    margin: 0;
    font-size: 20px;
}

.action-buttons {
    grid-area: action-buttons;
    justify-self: end;
}

.btn {
    padding: 10px 20px;
    margin-left: 20px;
    width: 7rem;
    border: none;
    border-radius: 25px;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* ************************************* */

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    gap: 20px;
    padding: 20px;
    background-color: rgba(227, 232, 239, 1);
    grid-auto-rows: min-content;
}

.projects {
    grid-area: projects;
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}

.projects,
.announcements,
.trending {
    padding: 20px;
}

h2 {
    margin-top: 0;
}

/* ************************************* */
.projects {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .project-cards {
        display: flex;
        flex-direction: column;
    }
}

.project-card {
    background-color: white;
    padding: 20px 20px 20px 30px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.project-card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #ffc107;
    border-radius: 10px 0 0 10px;
}

.project-content {
    margin-bottom: 10px;
}

.project-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.project-icons {
    display: flex;
    align-self: flex-end;
}

.project-icons .material-icons {
    color: #1992d4;
    margin-left: 10px;
    cursor: pointer;
}

/* ************************************* */

.announcements {
    padding: 20px;
    border-radius: 4px;
    height: fit-content;
}

.announcements h2 {
    margin-bottom: 20px;
}

.announcement-cards {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-block: 20px;
}

.announcement-card {
    padding: 10px 10px 0px 10px;
    border-radius: 4px;
}

.announcement-content {
    margin-bottom: 10px;
}

.announcement-content h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.announcement-content p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

/* ************************************* */

.trending {
    padding: 20px;
}

.trending h2 {
    margin-bottom: 20px;
}

.trending-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 4px;
    padding-block: 20px;

}

.trending-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}

.trending-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.trending-content {
    flex-grow: 1;
}

.trending-username {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}

.trending-project {
    margin: 0;
    font-size: 12px;
    color: #666;
}
